.social-networks .title {
  margin-top: 2rem;
  text-transform: uppercase;
  color: #000;
}

.bg-facebook_icon_black {
    background: url('../../assets/img/css_sprites.png') no-repeat -1% -1%;
    background-size: 218%;
    border: none;
    width: 42px;
    height: 42px;
    margin-right: 1rem;
}

.bg-facebook_icon_white {
    background: url('../../assets/img/css_sprites.png') no-repeat 100% -1%;
    border: none;
    background-size: 218%;
    width: 42px;
    height: 42px;
    margin-right: 1rem;
}

.bg-instagram_icon_black {
    background: url('../../assets/img/css_sprites.png') 0 92%;
    background-size: 218%;
    border: none;
    width: 42px;
    height: 42px;
}

.bg-instagram_icon_white {
    background: url('../../assets/img/css_sprites.png') 95% 92%;
    border: none;
    background-size: 218%;
    width: 42px;
    height: 42px;
}
