.profile-candidate {
  height: 96vh;
  padding: 20px;
  background-color: #4B92E5;
  overflow: auto;
  color: #fff;
}

.profile-candidate .inner {
  margin: 20px;
}

.profile-party {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.profile-bio {
  text-align: justify;
}

.profile-photo {
  margin: 20px 0;
}

.profile-candidate img {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
}
