.tabs {
    position: absolute;
    z-index: 2;
    right: 0px;
}

.tabs.col-md-4 {
    padding-right: 0;
}

.panel {
    display: inline-table;
    float: right;
    background-color: rgba(75, 146, 229, 0.8);
}

.map {
    z-index: 1;
}
