@font-face {
  font-family: 'Alte Haas Grotesk Regular';
  src: url('./fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
  font-family: 'Alte Haas Grotesk Bold';
  src: url('./fonts/AlteHaasGroteskBold.ttf');
}

* {
  list-style: none;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Alte Haas Grotesk Bold', sans-serif;
  margin-top: 1rem;
}

h3, h4 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

a, p, label {
  font-family: 'Alte Haas Grotesk Regular', sans-serif;
}

section {
  min-height: 100vh;
}

body {
  background-color: #EEF2F5;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content {
  display: flex;
  min-height: 100vh;
  padding: 6vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: left;
}
