.links a {
    font-family: 'Alte Haas Grotesk Bold', sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
    align-items: center;
    padding: 10px;

}

.nav {
    background-color: #7047D6;
    display: flex;
    justify-content: space-around;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}

.btn-doe {
    background-color: #4B92E5;
    color: #FFF;
}
